/* Variables / Psuedo */
:root {
    --normal-black: rgba(0, 0, 0, 0.8);
    --logo-black: rgb(51, 51, 51);
}


/* || Document / General */
/* ------------- */
html {
    font-size: 62.5%;
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

h1,
h2 {
    color: rgba(0, 0, 0, 0.9);
}

h2 {
    font-size: 3rem;
}

p {
    color: var(--normal-black);
    font-weight: lighter;
}
/* ------------- */



/* || Header */
/* ------------- */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 4;
}

.main-header > * {
    margin: 0 1rem;
}

.header-logo {
    max-width: 30px;
    max-height: 30px;
}

.search-icon,
.shop-bag-icon {
    max-width: 25px;
    max-height: 25px;
}

.other-header-icons {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.hamburger-menu div {
    width: 30px;
    height: 3px;
    background-color: var(--logo-black);
    border-radius: 1rem;
    margin: 0.5rem 0;
}

.icon-container {
    padding: 1rem;
}

.icon-container:hover {
    background-color: whitesmoke;
    border-radius: 2rem;
    cursor: pointer;
}
/* ------------- */



/* || Main - Home Page */
/* ------------- */
.home {
    text-align: center;
}

.home article > div {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    margin-top: 1rem;
}

.home article {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: ghostwhite;
    margin: auto auto 1.5rem auto;
}

.home .dark-article {
    background-color: black;
}

.home .dark-article h2,
.home .dark-article p {
    color: white;
}

.home article > * {
    width: 60%;
}

.home article div:not(.logo-w-title) {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;
}

.home article p:first-of-type {
    margin-top: -1rem;
}

.logo-w-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}
/* ------------- */



/* || Articles - Home Page */
/* ------------- */
.article-buttons {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2rem;
    border-radius: 0.9rem;
    margin: 2rem 0;
    background: linear-gradient(135deg, hsla(0, 100%, 64%, 1) 0%, hsla(0, 100%, 85%, 1) 100%);
    z-index: 1;
}

/* || Linear Gradient Transition Workaround for Firefox */
/* ------------- */
.article-buttons::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.9rem;
    background: linear-gradient(162deg, hsla(0, 100%, 85%, 1) 0%, hsla(0, 100%, 64%, 1) 100%);
    transition: opacity 0.5s;
    z-index: 2;
    opacity: 0;
}

.article-buttons:hover::after {
    opacity: 1;
}

.article-buttons:active::after {
    background: #FF5B5B;
}

.article-buttons span {
    position: relative;
    z-index: 3;
}
/* ------------- */
/* ------------- */


/* || Footer */
/* ------------- */
footer {
    font-size: 1.3rem;
    padding: 0 2rem 1rem 2rem;
    background-color: #F7F7F7;
}

footer hr {
    margin: 2rem auto;
}

footer:not(.country-selection),
address {
    color: rgba(0, 0, 0, 0.6);
}

.site-map {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.site-map * {
    padding: 1rem 0;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.site-map *:nth-child(even) {
    background-color: #E3E2E2;
}

address {
    font-style: normal;
}

.country-selection {
    margin: 1rem 0;
}

.other-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

footer a:not(address a),
.other-links {
    color: var(--normal-black);
    text-decoration: none;
}

footer a:hover,
.other-links a:hover {
    text-decoration: underline;
}

.note {
    font-size: 1.0rem;
}