/* Variables / Psuedo / JS */
:root {
    --text-black: rgba(0, 0, 0, 0.8);
    --main-black: rgb(51, 51, 51);
    --header-grey: rgba(244, 244, 244, 0.8);
    --main-green: rgb(0, 197, 3);
}

.dom-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.vis-hidden {
    opacity: 0;
}


.no-scroll {
    height: 100%;
    overflow: hidden;
}

.blur {
    opacity: 0.4;
    transition: 0.3s ease-in-out
}

/* || Document / General */
html {
    font-size: 62.5%;
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

h1,
h2 {
    color: rgba(0, 0, 0, 0.9);
}

h2 {
    font-size: 3rem;
}

p {
    color: var(--text-black);
    font-weight: lighter;
}



/* || Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    position: sticky;
    top: 0;
    background-color: var(--header-grey);
    backdrop-filter: blur(10px);
    z-index: 4;
}

.learn-container .main-header {
    position: relative;
}

.nav-menu-header-bg {
    background-color: #F4F4F4;
}

.main-header > * {
    margin: 0 1rem;
}


/* || Navigation */
.main-header nav {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5.6rem;    
    margin-left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F4F4F4;
}

.main-header nav ul {
    padding: 2rem 3rem;
}

.main-header nav ul li {
    display: flex;
    list-style: none;
    margin-bottom: 1rem;
}

.main-header nav ul li span {
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 3rem;
    transition: 0.1s ease-in-out;
}

.main-header nav ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration-color: transparent;
    color: var(--text-black);
    font-weight: bold;
    font-size: 2.4rem;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.main-header nav ul li a:hover {
    text-decoration-color: var(--text-black);
}

.main-header nav ul li a:hover + span {
    margin-right: 1rem;
}

.main-header nav ul li:not(.scope),
.main-header nav ul li:not(.scope) a:hover {
    cursor: not-allowed;
}



.header-logo {
    width: 40px;
    transition: 0.2s ease-in-out;
}

.header-logo:hover {
    filter: brightness(0.8);
}

.search-icon,
.shop-bag-icon {
    max-width: 25px;
    max-height: 25px;
}

.other-header-icons {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.hamburger-menu div {
    width: 30px;
    height: 3px;
    background-color: var(--main-black);
    border-radius: 1rem;
    margin: 0.5rem 0;
}

.icon-container:last-child {
    padding: 0.2rem 1rem;
}

.close-icon {
    font-size: 3rem;
    margin: 0;
}

.icon-container {
    padding: 1rem;
    transition: 0.2s ease-in-out;
    border-radius: 2rem;
}

.icon-container:hover {
    background-color: #EDEDED;
    cursor: pointer;
}



/* || Main - Home Page */
.home {
    text-align: center;
}

.home article > div {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    margin-top: 1rem;
}

.home article {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: ghostwhite;
    margin: auto auto 1.5rem auto;
}

.home .dark-article {
    background-color: black;
}

.home .dark-article h2,
.home .dark-article p {
    color: white;
}

.home article > * {
    width: 60%;
}

.home article div:not(.logo-w-title) {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;
}

.home article p:first-of-type {
    margin-top: -1rem;
}

.logo-w-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}



/* || Articles - Home Page */
.article-buttons,
.secondary-buttons {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2rem;
    border-radius: 0.9rem;
    margin: 2rem 0;
    background: linear-gradient(180deg, hsla(120, 100%, 80%, 1) 0%, hsla(127, 100%, 40%, 1) 100%);
    filter: drop-shadow(0px 4px 7px #b2b2b2);
    z-index: 1;
}

.article-buttons:not(.in-scope .article-buttons) {
    background: linear-gradient(135deg, hsla(0, 100%, 64%, 1) 0%, hsla(0, 100%, 85%, 1) 100%);
}

.article-buttons:not(.in-scope .article-buttons)::after {
    background: linear-gradient(162deg, hsla(0, 100%,  85%, 1) 0%, hsla(0, 100%, 64%, 1) 100%);
}


.article-buttons:not(.in-scope .article-buttons):hover::after,
.article-buttons span:not(.in-scope .article-buttons span):hover{
    cursor: not-allowed;
}


/* || Linear Gradient Transition Workaround for Firefox */
.article-buttons::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.9rem;
    background: linear-gradient(200deg, hsla(120, 100%, 80%, 1) 0%, hsla(127, 100%, 40%, 1) 100%);
    transition: opacity 0.3s;
    z-index: 2;
    opacity: 0;
}

.article-buttons:hover::after {
    opacity: 1;
}

.article-buttons span {
    position: relative;
    z-index: 3;
}



/* || Main - StrawBook: Learn More Page */
.mini-header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: var(--header-grey);
    position: sticky;
    z-index: 2;
}

.dropdown-border-bottom {
    border-bottom: 5px solid var(--main-green);
    transition: all 0.1s ease;
}

.mini-header h2 {
    margin: 0;
    font-size: 2.4rem;
}

.mini-header img {
    width: 20px;
    cursor: pointer;
}

.mini-header div:nth-child(1) {
    text-align: center;
    line-height: 0.5;
}

.mini-header div:nth-child(1) p {
    font-size: 1.2rem;
}


.mini-header div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.mini-header div .button-container {
    transform: scale(0.7);
    border-radius: 5rem;
    transition: all 5s ease;
}

.dropdown-rotate {
    transform: rotate(180deg);
}

.strawbook-buy-container {
    position: absolute;
    background-color: white;
    width: 100vw;
    z-index: 1;
}

.strawbook-buy-dropdown {
    padding: 1rem;
    margin-top: -22rem;
    padding-left: 3rem;
    text-align: left;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.dropdown-slide {
    margin-top: 0;
    opacity: 1;
    pointer-events: all;
}

.strawbook-buy-dropdown li {
    margin: 1rem;
}

.strawbook-buy-dropdown li a {
    text-decoration: none;
    color: var(--text-black);
    font-weight: lighter;
}

.strawbook-buy-dropdown li a:hover {
    color: var(--main-green);
}


.strawbook-buy-dropdown hr {
    border: 0.5px solid #e8e8e8;
    margin-right: 1rem;
}

.secondary-buttons {
    background: none;
    background-color: var(--main-green);
    width: 5rem;
    border-radius: 3rem;
    filter: none;
    transition: 0.1s ease-in-out;
    margin: 0;
}

.secondary-buttons:hover {
    background-color: rgb(40, 225, 43);
}



/* || Footer */
footer {
    font-size: 1.4rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}

footer > * {
    margin: 3rem;
}

.site-map {
    display: flex;
    justify-content: center;
}

.site-map div > div {
    margin-bottom: 2rem;
    text-align: left;
}

.site-map div > div:nth-child(2) {
    margin-left: -0.5rem;
}

.site-map div img {
    margin-bottom: -0.4rem;
    margin-right: 1rem;
    max-width: 22px;
    max-height: 22px;
}

address {
    font-style: normal;
}

.country-selection {
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 0 auto;
    border-radius: 0.9rem;
    transition: 0.15s ease-in-out;
    padding: 0.4rem;
}

.country-selection span p {
    margin: -0.1rem;
}

.country-selection:hover {
    background-color: #be0000;
}

.country-selection:active {
    background-color: #2c64ff;
}

.country-selection img {
    max-width: 35px;
    max-height: 20px;
}

footer a:not(address a),
footer p {
    color: white;
    text-decoration: none;
}

footer a:hover:not(.country-selection) {
    text-decoration: underline;
}

.note {
    font-size: 1.0rem;
}